extends layout

block content
    .container-fluid
        if !err
            .cover(class='status#{message.status}')
                .status
                    if message.status=='0'
                        span.glyphicon-off.glyphicon.status-off
                    if message.status=='1'
                        span.glyphicon.glyphicon-refresh.status-sync
                    if message.status=="2"
                        span.glyphicon.glyphicon-ok-sign.status-ok
                    a(href='/').btn-block.btn.btn-lg.btn-default.current-block Current Block Height:  #{message.blockHeight}
            .info.container
                //ul.list-unstyled.list-inline.block-info
                    li Last Block Time :
                        span.text-info=message.blockLast.timestamp
                    li Last Block Generating Balance :
                        span.text-info=message.blockLast.generatingBalance
                h2  Peers Count : #{message.peers.length}
                ul.list-unstyled.peers
                    for peer in message.peers
                       li=peer
        else
            .cover.err
                h2=message




